<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygarage">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/mygarage_icon"
        android:label="My Garage"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGarage">

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignupActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".AddVehicleActivity" />
        <activity android:name=".AddExpenseActivity" />
        <activity android:name=".RemindersActivity" />
        <activity android:name=".VehicleDetailsActivity" />
        <activity android:name=".ReminderListActivity" />
        <activity android:name=".ReportsActivity" />



    </application>

</manifest>
